@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --rally-100: #0b0703;
    --rally-200: #fefcfa;
    --rally-300: #e97601;
    --rally-400: #e7ac10;
    --rally-500: #830500;

    /*blue-yellow*/
    /*--rally-100: #000000;*/
    /*--rally-200: #ffffff;*/
    /*--rally-300: #fdbd14;*/
    /*--rally-400: #8bd2ed;*/
    /*--rally-500: #8dbca1;*/
}

.dark {
    --rally-100: #fcf7f3;
    --rally-200: #040301;
    --rally-300: #fe8a16;
    --rally-400: #efb61a;
    --rally-500: #d96363;
}